@use "../../variables" as *;

$text-color: #262626;

.card-container {
    opacity: 1;
    border-radius: 12px;
    border: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

        .card-header {
            background: #F2EFFC;
        }
    }

    .card-header {
        height: 56px;
        gap: 16px;
        opacity: 1;
        padding: 16px 20px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background: #F0F0F0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease;

        .text {
            width: 275px;
            height: 20px;
            opacity: 1;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0px;
            color: $text-color;
            display: flex;
            align-items: center;
        }

        .more-icon {
            width: 24px;
            height: 24px;
            color: $text-color;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .card-body {
        padding: 16px 20px;
        gap: 12px;
        display: flex;
        flex-direction: column;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px;
            width: calc(100% - 40px);
            height: 1px;
            background: #D8D8D8;
            opacity: 1;
        }
    }

    .card-footer {
        padding: 16px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}